.showMap
	position: absolute
	top: -40px
	left: 42%
	right: 42%
	background: #CFCFCF
	border-radius: 5px
	margin: 0 auto!important
	text-align: center
	a
		text-decoration: none
	&:link
		padding: 30px 15px 10px 15px
		color: #888888
		transition: color 0.5s
		font-size: 12px
		z-index: 999
	&:hover
		text-decoration: none
		color: #5F5F5F
		transition: color 0.5s
	&:visited
		text-decoration: none
	&:active
		text-decoration: none
.storagesMap
	//position: absolute
	top: -40px
	background: #FFF
	z-index: 1
	+sombra(.5)
	+borderRadius(3px)
	margin-bottom: 15px
	margin-top: -50px
	#mysvg
		width: 1224px
		height: 705px
	.hideMap
		margin: 15px 50% 15px 50%
.redBox
	background: rgb(255, 0, 0)
