.dataTables_wrapper
  background: #FFF
  padding: 10px
  font-size: 10px
  +sombra(.5)
  +borderRadius(3px)
  input, select
    background: #FFF!important
    padding: 0px 5px
    margin: 0px 5px
    +borderRadius(2px)
  .btnAccionPanel
    width: 25px
    float: left
    margin: 0px 3px 0px 0px
  .row:first-child
    padding: 10px
    background: $tblcolor
    width: 100%
    margin: 0px auto
    color: #FFF
    +borderRadius(3px)
    div:nth-child(2)
      text-align: right
  .row:nth-child(3)
    padding: 5px
    background: $tblcolor
    width: 100%
    margin: 0px auto
    color: #FFF
    +borderRadius(3px)
    div:nth-child(2)
      text-align: right
      ul
        margin: 5px
