body
  #forRegister
    fieldset
      background: rgb(224, 221, 221)
      padding: 10px
      margin-bottom: 10px
      legend
        background: rgb(231, 230, 230)
        margin: 0px
        padding: 5px
        border: solid 1px rgb(224, 221, 221)
  .pageLoader
    width: 110%
    height: 110%
    position: fixed
    background: rgba(0, 0, 0,.8)
    z-index: 9999
    .wraploader
      margin: 20% 45%
      width: 100px
      height: 100px
      overflow: hidden
      +borderRadius(50%)
      img
        width: 100px
        height: 100px
  .blurred
    -webkit-filter: blur(2px)
    -moz-filter: blur(2px)
    -o-filter: blur(2px)
    -ms-filter: blur(2px)
    filter: blur(2px)
.modal-open
  .superWrap
    -webkit-filter: blur(1px)
    -moz-filter: blur(1px)
    -o-filter: blur(1px)
    -ms-filter: blur(1px)
    filter: blur(1px)
.modal
  .modal-header
    background: rgb(49, 59, 69)
    color: #FFF
    text-align: center
    font-weight: bold
    text-transform: uppercase
  .modal-body
    max-height: 400px
    overflow-y: auto
    overflow-x: auto
    fieldset
      background: rgb(224, 221, 221)
      padding: 10px
      margin-bottom: 10px
      legend
        background: rgb(231, 230, 230)
        margin: 0px
        padding: 5px
        border: solid 1px rgb(224, 221, 221)
    .form-footer
      text-align: center
  .modal-footer
    background: rgb(49, 59, 69)
    color: #FFF
    text-align: center
    font-weight: bold
    //text-transform: uppercase
.sticky-container
  //background-color: #333
  padding: 0px
  margin: 0px
  position: fixed
  right: -10px
  top: 80px
  width: 50px
  z-index: 9999
  .sticky
    li
      list-style-type: none
      background-color: #333
      color: #efefef
      height: 25px
      padding: 0px
      margin: 0px 0px 1px 0px
      -webkit-transition: all 0.25s ease-in-out
      -moz-transition: all 0.25s ease-in-out
      -o-transition: all 0.25s ease-in-out
      transition: all 0.25s ease-in-out
      cursor: pointer
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
      filter: gray
      -webkit-filter: grayscale(100%)
      &:hover
        margin-left: -50px
        /*background-color: #8e44ad;*/
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale")
        -webkit-filter: grayscale(0%)
    p
      padding: 0px
      margin: 0px
      text-transform: uppercase
      line-height: 24px
    img
      float: left
      margin: 5px 5px
      margin-right: 10px
.tblCalcStorages
  text-align: center!important
  tr
    td:first-child
      text-align: left
      font-weight: bold
  td
    padding: 5px
    font-size: 12px
  img
    width: 120px
    height: 120px
    margin: 15px
.modal-dialog
  z-index: 99999
.has-error
  //background-color: rgb(255, 0, 0)!important
  border-bottom: solid 2px rgb(255, 0, 0)!important
.tblCalcStorages2
  text-align: center!important
  width: 100%
  tr
    td:first-child
      text-align: left
      font-weight: bold
  td
    padding: 5px
    font-size: 12px
  img
    width: 100px
    height: 100px
    margin: 15px