.mainMenu
  font-size: 12px
  margin: 0px!important
  padding: 0px!important
  //background: rgb(195, 195, 195)
  line-height: 40px
  a
    height: 65px
    padding: 10px
    &:hover
      border-bottom: 2px solid rgb(255, 24, 24)
