=sombra($op)
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,$op)
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,$op)
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,$op)

=borderRadius($rad)
  -webkit-border-radius: $rad
  -moz-border-radius: $rad
  -ms-border-radius: $rad
  border-radius: $rad
