.link_min, .link_max {
    background: #777474;
    width: 23px;
    height: 23px;
    display: inline-block;
}
.link_min {
    margin-left: 40px;
}
#ico_min {
    margin-top: 3px;
    margin-left: 6px;
}
#res:hover, #sum:hover {
    background-color: rgb(203, 16, 16);
}
#input-cantidad {
    border: 1px solid #FFF;
    outline: 0;
    width: 22px;
    text-align: center;
    margin-top: 3px;
    color: #777474;
    font-weight: 700;
    padding: 3px 2px;
    vertical-align: middle;
    background-color: transparent;
}
#row_calculo {
    height: 30px;
    font-size: 11px;
}
#row_calculo_activo {
    background-color: rgb(78, 77, 76);
    color: white;
    height: 30px;
    font-size: 11px;
}
.div_total_calculo {
    background-color: rgb(232, 230, 229);
    height: 30px;
}
#botones_mas_menos {
    margin-bottom: 17% !important;
}
#spans_nombre_objetos {
    font-size: 12px;
}
#filas_opciones {
    margin-bottom: 0%;
    font-size: 11px;
}
.spans_calculo_decimal {
    text-align: right !important;
}
#icono_limpiar {
    height: 20%;
    width: 20%;
}
#link_limpiar {
    font-size: 11px;
    margin-left: 24%;
}
#span_titulo_seccion {
    font-size: 12px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: rgb(78, 77, 76);
  font-size: 11px;
}

.nav-pills > li > a {
    font-size: 11px;
}

#btn_search:hover {
    background-color: rgb(203, 16, 16);
    color: white;
}
#btn_search {
    background-color: rgb(78, 77, 76);
    color: white;
    font-size: 15px;
}
