body #forRegister fieldset {
  background: #e0dddd;
  padding: 10px;
  margin-bottom: 10px; }
  body #forRegister fieldset legend {
    background: #e7e6e6;
    margin: 0px;
    padding: 5px;
    border: solid 1px #e0dddd; }
body .pageLoader {
  width: 110%;
  height: 110%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999; }
  body .pageLoader .wraploader {
    margin: 20% 45%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    body .pageLoader .wraploader img {
      width: 100px;
      height: 100px; }
body .blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

.modal-open .superWrap {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); }

.modal .modal-header {
  background: #313b45;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase; }
.modal .modal-body {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto; }
  .modal .modal-body fieldset {
    background: #e0dddd;
    padding: 10px;
    margin-bottom: 10px; }
    .modal .modal-body fieldset legend {
      background: #e7e6e6;
      margin: 0px;
      padding: 5px;
      border: solid 1px #e0dddd; }
  .modal .modal-body .form-footer {
    text-align: center; }
.modal .modal-footer {
  background: #313b45;
  color: #FFF;
  text-align: center;
  font-weight: bold; }

.sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -10px;
  top: 80px;
  width: 50px;
  z-index: 9999; }
  .sticky-container .sticky li {
    list-style-type: none;
    background-color: #333;
    color: #efefef;
    height: 25px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%); }
    .sticky-container .sticky li:hover {
      margin-left: -50px;
      /*background-color: #8e44ad; */
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(0%); }
  .sticky-container .sticky p {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 24px; }
  .sticky-container .sticky img {
    float: left;
    margin: 5px 5px;
    margin-right: 10px; }

.tblCalcStorages {
  text-align: center !important; }
  .tblCalcStorages tr td:first-child {
    text-align: left;
    font-weight: bold; }
  .tblCalcStorages td {
    padding: 5px;
    font-size: 12px; }
  .tblCalcStorages img {
    width: 120px;
    height: 120px;
    margin: 15px; }

.modal-dialog {
  z-index: 99999; }

.has-error {
  border-bottom: solid 2px red !important; }

.tblCalcStorages2 {
  text-align: center !important;
  width: 100%; }
  .tblCalcStorages2 tr td:first-child {
    text-align: left;
    font-weight: bold; }
  .tblCalcStorages2 td {
    padding: 5px;
    font-size: 12px; }
  .tblCalcStorages2 img {
    width: 100px;
    height: 100px;
    margin: 15px; }

.mainMenu {
  font-size: 12px;
  margin: 0px !important;
  padding: 0px !important;
  line-height: 40px; }
  .mainMenu a {
    height: 65px;
    padding: 10px; }
    .mainMenu a:hover {
      border-bottom: 2px solid #ff1818; }

.dataTables_wrapper {
  background: #FFF;
  padding: 10px;
  font-size: 10px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .dataTables_wrapper input, .dataTables_wrapper select {
    background: #FFF !important;
    padding: 0px 5px;
    margin: 0px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
  .dataTables_wrapper .btnAccionPanel {
    width: 25px;
    float: left;
    margin: 0px 3px 0px 0px; }
  .dataTables_wrapper .row:first-child {
    padding: 10px;
    background: #607d8b;
    width: 100%;
    margin: 0px auto;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .dataTables_wrapper .row:first-child div:nth-child(2) {
      text-align: right; }
  .dataTables_wrapper .row:nth-child(3) {
    padding: 5px;
    background: #607d8b;
    width: 100%;
    margin: 0px auto;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .dataTables_wrapper .row:nth-child(3) div:nth-child(2) {
      text-align: right; }
      .dataTables_wrapper .row:nth-child(3) div:nth-child(2) ul {
        margin: 5px; }

.showMap {
  position: absolute;
  top: -40px;
  left: 42%;
  right: 42%;
  background: #CFCFCF;
  border-radius: 5px;
  margin: 0 auto !important;
  text-align: center; }
  .showMap a {
    text-decoration: none; }
  .showMap:link {
    padding: 30px 15px 10px 15px;
    color: #888888;
    transition: color 0.5s;
    font-size: 12px;
    z-index: 999; }
  .showMap:hover {
    text-decoration: none;
    color: #5F5F5F;
    transition: color 0.5s; }
  .showMap:visited {
    text-decoration: none; }
  .showMap:active {
    text-decoration: none; }

.storagesMap {
  top: -40px;
  background: #FFF;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: -50px; }
  .storagesMap #mysvg {
    width: 1224px;
    height: 705px; }
  .storagesMap .hideMap {
    margin: 15px 50% 15px 50%; }

.redBox {
  background: red; }

/*# sourceMappingURL=main.css.map */
