#rent_storage .modal-body {
	font-size: 13px;
	max-height: 575px !important;
}

#img_storage_box {
	width: 50%;
	height: 50%;
}

#div-box-1, #div-sqm-1, #div-price-1, #row-notice, #row-prepay, #div-ensurance-1, #div-subtotal-1, #div-vat-1, #div-total-1, #div-btn-rent-1
{
	border-top: 1px solid rgb(70, 71, 71);
	border-left: 1px solid rgb(70, 71, 71);
	border-right: 1px solid rgb(70, 71, 71);
	text-align: left;
}
#div-box-2, #div-sqm-2, #div-price-2, #div-ensurance-2, #div-subtotal-2, #div-vat-2, #div-total-2, #div-btn-rent-2 {
	border-top: 1px solid rgb(70, 71, 71);
	border-right: 1px solid rgb(70, 71, 71);
	text-align: left;
}
#row-credit-card {
	border-top: 1px solid rgb(70, 71, 71);
	border-left: 1px solid rgb(70, 71, 71);
	border-right: 1px solid rgb(70, 71, 71);
	height: 50px;
}
#div-sqm-1, #div-sqm-2 {
	height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
#div-box-1, #div-box-2 {
	text-align: center !important;
	background-color: #353132;
	height: 131px;
}
#img_storage_box {
	width: 129px;
	height: 129px;
}
#div-btn-rent-1, #div-btn-rent-2 {
	text-align: center;
}
#row-notice, #row-prepay {
	height: 50px !important;
}

.select-style {
	border: 1px solid rgb(70, 71, 71);
	margin-top: 5px;
	color: black !important;
	margin-left: 20px !important;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
	color: rgb(70, 71, 71);
}

#label-notice, #label-prepay, #label-credit-card {
	margin-left: 11px;
}

.row.row-1, .row.row-2 {
	background-color: rgb(242, 236, 238);
}
#div-btn-rent-1, #div-btn-rent-2 {
	background-color: #353132;
	height: 50px;
}

#btn_rent_1, #btn_rent_2 {
	margin-top: 5px;
	background-color: rgb(242, 236, 238);
	color: #353132;
	border-color: rgb(250, 247, 248);
}
#btn_rent_1:hover, #btn_rent_2:hover {
	background-color: rgb(203, 16, 16);
	color: white;
	border-color: rgba(224, 221, 222, 0.66);
}
.btn_extraItems {
	height: 38px;
	width: 222px;
	margin-left: 4.8%;
	margin-top: 5px;
	background-color: #353132;
	color: white;
	border-color: rgb(250, 247, 248);
}
.btn_extraItems:hover {
	background-color: rgb(203, 16, 16);
	color: white;
	border-color: rgb(91, 90, 90);
}
